body {

    background-image: url("../image/Custom-Walkin-Cooler-edited.jpg");
}

h1 {
  font-family: 'Bungee Inline', cursive;
  color: red;
  text-align: center;
  font-size: 100pt;
}

h3 {
  font-family: 'Bungee Inline', cursive;
  color: red;
}

li {
  font-family: 'Oswald', sans-serif;
}

select {
  margin-top: 25px;
  margin-left: 100px;
}

.rightCol {
  margin-left: 100px;
}
.lessThanFive {
  color: green;
}

.greaterThanFive {
  color: orange;
}
